{% extends 'base.html.twig' %}

{% block title %}
    Création d'une nouvelle annonce
{% endblock %}

{% block body %}
    <div class="text-accent2 container" style="background-color: white ; border-radius: 20px; padding: 20px; margin-top:10px;">
        {{ form_start(form, {'method': 'POST'}) }}
        {{ form_row(form.title, {'label': 'Titre :'}) }} <br>
        {{ form_row(form.description, {'label': 'Description : '}) }} <br>
        {{ form_row(form.price, {'label': 'Prix :'}) }} <br>
        {{ form_row(form.location, {'label': 'Location :'}) }} <br>
        {{ form_row(form.category, {'label': 'Catégorie :'}) }} <br>
        <button type="submit" id="advertisement_create" class="btn btn-accent3" >{{ edit ? 'Modifier' : 'Create'}}</button>
    {{ form_end(form) }}
    </div>
{% endblock %}

